.profile img{
    margin-left:50%;
    transform: translate(-50%, 50%);
    width:80px;
    border-radius: 100px;
}
.profile h3{
    font-family: 'Roboto Condensed';
    margin-top: 50px;
    margin-left: 35px;
}
.profile h4{
    font-family: 'Roboto Condensed';
    margin-top:-15px;
    margin-left: 35px;
}
.profile p{
    font-family: 'Roboto Condensed';
    margin-top: -10px;
    margin-left: 35px;
}

.break-part h2,h3{
    font-family: 'Roboto Condensed';
    margin-left: 35px;
}