.game{
    width: 300px;
    background:#fff;
    margin-top: 50px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 5px;
    border-radius: 20px;
    border: 2px solid #ddd;
    padding-bottom: 25px;
    
}
.game img{
    border-radius: 20px;
    width:288px;
    height: 200px;
}
.game h1{
    font-family: 'Roboto Condensed';
}
.game p{
    font-family: 'Roboto Condensed';
    margin-top: -15px;
}
.select-btn {
    color:#fff;
    font-family: 'Roboto Condensed';
    font-size: 21px;
	width: 100%;
	margin-left: -5px;
	border: none;
	background: #0785CB;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
    cursor: pointer;
    transition: all linear .3s;
}
.select-btn:hover{
    background: #FFBA2E;
    color:#000;
}

